
@{
    ViewBag.Title = "DashBoard";
}

<h2>DashBoard</h2><p><button class="btn btn-info" id="addressSearch" onclick="location.href='@Url.Action("BrowseCourses", "MessageTutor")'" (obj.tutor_id)>Message tutor </button></p>



