@model eTutorMVC.ViewModels.CourseListViewModel
@{
    ViewBag.Title = "CourseList";
}

<h2>CourseList</h2>

@foreach (var element in Model.courses)
{
    <p>@Html.DisplayFor(m => element)</p>
    <li> <p><button class="btn btn-info" id="addressSearch" onclick="location.href='@Url.Action("BrowseCourses", "MessageTutor")'" (obj.tutor_id)>Message tutor </button></p></li>

}